<form class='search-form' id='search-form'>
    <input type='text' name='query' autocomplete='off' placeholder='Search images...' />
    <label>
        Count image on page
        <input class='count-image' type='text' name='countOnPage' value='' />
    </label>
</form>