#search-form {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: $bg-form-color;
  font-size: 20px;
  & input {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    &.count-image {
      width: 50px;
      font-size: 25px;
    }
  }

  & label {
    display: block;
  }

  @media screen and (min-width: 720px) {
    display: flex;
    & input {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}